.wrapper { 
    display:flex;
    justify-content:center
}

.header { }


.logo { 
    float:left;
    margin-left:-210px;
    margin-top:25px;
}

.menu {
    margin-top:35px;
    padding-right:25px
}

.menu1 {
    display:flex;
    flex-direction:row;
    list-style:none;
 }

.menupartleft { 
    margin-right:50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    color:black;
    color:inherit
}

.menupartleft a:hover {
    color:#4F56F1
}

.menupartright { 
    margin-left:600px;
    margin-right:-120px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: black;
    color:inherit
}

.menupartright a:hover {
    color:#4F56F1
}

.menulinkleft { 
    text-decoration:none;
}

.menulinkright { 
    text-decoration:none;   
}

.signup {
    float:right;
    margin-top:-15px;
    margin-right:-200px;
}

.signuplink {
    text-decoration:none;
    background-color:#4F56F1;
    color:white;
    padding:10px;
    border-radius:3px;
}

.signup a:hover {
    background-color:#0852b9
}

.articlehead { 
    position:absolute;
    margin-top:250px;
    margin-left:-950px;
    width:400px;
    height:25px;
    font-family: Ramaraja;
    font-style: normal;
    font-weight: normal;
    font-size:45px;
    line-height: 45px;
    letter-spacing: 0.02em;
    color: #1B0A42;
}

.smallarticle {
    margin-top:25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.15em;
    color: #9A9A9A;
}

.picture {
    position:absolute;
    height:50vh;
    margin-top:150px;
    margin-left:-500px;
}
